<!-- Principal jumbotron, para a principal mensagem de marketing ou call to action -->
<div class="jumbotron mt-5">
    <div class="container">
        <h1 class="display-4 pt-5 text-center">Seja Bem-vindo a sua biblioteca virtual!</h1>
        <h1 class="display-3 text-center"><%= image_tag "logo.png" %> Digital Book</h1>
        <div class="text-center">
            <span class="text-center"><%= link_to 'Login', student_session_path, class:"btn btn-success btn-lg text-white" %></span> ou
            <span class="text-center"><%= link_to 'Inscrever-se', new_student_registration_path	, class:"btn btn-success btn-lg text-white" %></span>
        </div>
    </div>
</div>