<div class="container mt-5 text-center"> 
    <h1 class="pt-5">Editing Book</h1>

    <%= render 'form', book: @book  %>

    <%= link_to 'Show', @book %> |
    <%= link_to 'Back', books_path %>
</div>
