
<div class="container mt-5 text-center">
    <section class="mb-1">
        <h1 class="display-3 pt-5 text-center">Sobre Digital Book</h1>

        <span class="my-3", style="display:block">
            Projeto desenvolvido durante o 4º período do curso de Ciência da Computação.
            O objetivo é simular uma biblioteca online com funções de inserção, exclusão, consulta e alteração
        </span>
        <span class="my-3", style="display:block">
            Foi usado as seguintes tecnologias:<br>
            Rails 6.1.4.6<br>
            Kaminari (Criação de uma lista paginada para exibição de registros)<br>
            Devise (Permite autenticação no sistema)<br>
            bootstrap ^5.1.3
        </span>
        <span class="my-3", style="display:block">
            UESPI - Universidade Estadual do Piauí<br>
            Programação lll<br>
            Professor: Constantino Augusto Neto<br>
        </span>
        <!-- Facebook -->
        <a class="btn btn-info m-1 text-white" href="https://www.facebook.com/weverton.alves.357" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-info m-1 text-white" href="https://twitter.com/alves_wevertonn" role="button"><i class="fab fa-twitter"></i></a>

        <!-- Instagram -->
        <a class="btn btn-danger m-1 text-white" href="https://www.instagram.com/alves_wevertonn/" role="button"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-info m-1 text-white" href="https://www.linkedin.com/in/weverton-pereira-alves-15b547213/" role="button"><i class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a class="btn btn-dark m-1 text-white" href="https://github.com/Weverton-profile" role="button"><i class="fab fa-github"></i></a>
    </section>
    <span class="fixed-bottom">© 2022 developed by: Weverton Pereira Alves</span>
</div>
