
<div class="container mt-5">
    <div class="jumbotron pt-5">
        <div class="container">
          <h1 class="display-3">Sobre Digital Book!</h1>
          <p>Projeto desenvolvido durante o 4º período do curso de Ciência da Computação.
            O objetivo é simular uma biblioteca online com funções de inserção, exclusão, consulta e alteração.</p>
        </div>
      </div>        
    <div class="container">
    <div class="row">
        <h1 class="display-5">Desenvolvido usando:</h1>
        <div class="col-md-3">
            <h2>Rails 6.1.4.6</h2>
            <p>O Rails é um "meta-framework" (ou seja, um framework de frameworks), composto pelos seguintes frameworks: Active Record. O Active Record é uma camada de mapeamento objeto-relacional (object-relational mapping layer), responsável pela interoperabilidade entre a aplicação e o banco de dados e pela abstração dos dados. </p>
            <p><a class="btn btn-secondary text-white" href="https://rubyonrails.org/" role="button">Ver detalhes &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Kaminari</h2>
            <p>Um paginador baseado em Escopo, limpo, poderoso, personalizável e sofisticado para estruturas modernas de aplicativos web e ORMs </p>
            <p><a class="btn btn-secondary text-white" href="https://github.com/kaminari/kaminari" role="button">Ver detalhes &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Devise</h2>
            <p>Devise é uma solução de autenticação flexível para Rails baseado em Warden.</p>
            <p><a class="btn btn-secondary text-white" href="https://github.com/heartcombo/devise" role="button">Ver detalhes &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2> bootstrap ^5.1.3</h2>
            <p>O Bootstrap é uma ferramenta gratuita para desenvolvimento HTML, CSS e JS. Crie protótipos rápidamente ou aplicações completas com nossas variáveis e mixins Sass, sistemas de grid responsivo, componentes pré-construídos e poderosos plugins com jQuery.</p>
            <p><a class="btn btn-secondary text-white" href="https://getbootstrap.com.br/" role="button">Ver detalhes &raquo;</a></p>
        </div>
    </div>
    <section class="mb-1 text-center">
        <span class="my-3", style="display:block">
            UESPI - Universidade Estadual do Piauí<br>
            Programação lll<br>
            Professor: Constantino Augusto Neto<br>
        </span>    
        <!-- Facebook -->
        <a class="btn btn-info m-1 text-white" href="https://www.facebook.com/weverton.alves.357" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-info m-1 text-white" href="https://twitter.com/alves_wevertonn" role="button"><i class="fab fa-twitter"></i></a>

        <!-- Instagram -->
        <a class="btn btn-danger m-1 text-white" href="https://www.instagram.com/alves_wevertonn/" role="button"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-info m-1 text-white" href="https://www.linkedin.com/in/weverton-pereira-alves-15b547213/" role="button"><i class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a class="btn btn-dark m-1 text-white" href="https://github.com/Weverton-profile" role="button"><i class="fab fa-github"></i></a>
    </section>
    <p class="text-center">© 2022 developed by: Weverton Pereira Alves</p>
</div>
